*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flexcontainer{
    display:flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

main{
    max-width: 900px;
    width:100%;
    margin: 0 auto;
    background-color: rgb(179, 179, 179);
}

article{
    background-color: rgb(109, 149, 184);
    padding: 2rem;
     order:0;
     flex:1;
}

.flexitem1{
    order:2;
    flex-grow: 2;
}